body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: #f2e8df;
  margin-top: 6rem;
}

.header {
  display: flex;
  justify-content: center;
  color: #35403a;
  margin-bottom: 1.4rem;
}
.header img {
  height: 5rem;
}

.header h1 {
  margin-top: 1.4rem;
  font-weight: 600;
  font-size: 3rem;
}
.card.result {
  margin-bottom: 0.4rem;
  min-height: fit-content;
}
.result .result-img {
  background-size: cover;
  max-width: 66px;
  min-height: 82px;
}

.result .result-body {
  padding: 0.75rem;
}
.result .result-title {
  font-size: 1rem;
  margin-bottom: 0;
}
.result .result-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.result .result-add img {
  width: 1.5rem;
}
.result .result-action {
  justify-content: right;
  display: flex;
  max-width: 120px;
}
